<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>

        {% include "includes/imports.html" %}
        <script src="{{ url_for('static', filename='bower_components/webcomponentsjs/webcomponents.js') }}"></script>
        <link href="http://fonts.googleapis.com/css?family=Roboto:500,300,400" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='gappi.css')}}" rel="stylesheet" type="text/css">
        <link rel="import" href="{{ url_for('static', filename='bower_components/core-collapse/core-collapse.html') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
        <link class="include" rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/jqplot/jquery.jqplot.css') }}" />
       <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ url_for('static', filename='js/jqplot/excanvas.js') }}"></script><![endif]-->
        <script class="include" type="text/javascript" src="{{ url_for('static', filename='js/jqplot/jquery.jqplot.js') }}"></script>

    </head>

    <body unresolved center layout horizontal>
        {% block body %}{% endblock %}
    </body>
</html>