{% include "includes/metas.html" %}
{% include "includes/jsons.html" %}
{% include "includes/icons.html" %}

<link rel="import" href="{{ url_for('static', filename='bower_components/core-icons/core-icons.html')}}">
<link rel="import" href="{{ url_for('static', filename='bower_components/core-icons/av-icons.html')}}">
<link rel="import" href="{{ url_for('static', filename='bower_components/sampler-scaffold/sampler-scaffold.html')}}">
<link href='http://fonts.googleapis.com/css?family=Roboto:500,300,400' rel='stylesheet' type='text/css'>
<link rel="import" href="{{ url_for('static', filename='bower_components/core-item/core-item.html')}}">
<link rel="import" href="{{ url_for('static', filename='bower_components/core-menu/core-submenu.html')}}">
<link rel="import" href="{{ url_for('static', filename='bower_components/paper-icon-button/paper-icon-button.html')}}">
<link rel="import" href="{{ url_for('static', filename='bower_components/paper-fab/paper-fab.html')}}">
<link rel="import" href="{{ url_for('static', filename='bower_components/core-collapse/core-collapse.html')}}">